@tailwind base;
@tailwind components;
@tailwind utilities;

.text-primaary{
  color: #F15A29;
}

body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}


div:hover{
  transition:  .00001s;
}

.li:hover>ul{
  visibility: visible;
  top: 50px;
  z-index: 0;
  transform: rotateX(0deg);
  transition: all .2s;
}
.li>ul{
  transform: rotateX(90deg);
  /* transition:  .2s; */
  /* transition-duration: .1s; */
}

.li:hover>a>i{
  transform:  rotate(-180deg);
  /* transition: all .3s; */
}


.sub_link:hover{
  background-color: #F15A29;
}

/* .menu-small{
  transition: all .5s;
} */

.dropdown:hover .dropdown-menu {
  display: block;
}





/* rain  */

nav{
  z-index: 10000000000000000000 !important;
}


.mobile-app-child{
  transform: scale(0);
}


.mobile-app:hover>.mobile-app-child{
  transform: scale(1);
  transition: all .5s;
}


.bg-process {
  margin-top: 4rem;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.672),
    rgba(0, 0, 0, 0.672),
    rgba(0, 0, 0, 0.672)
  ), url('../public/img/porcess-bg.jpg');
  background-attachment: fixed;
}



.border-mini{
  border: .5px solid #858585;
}



.border-mini:hover{
  background-color: #F15A29;
}


.quote-bg{
  background-image: url('../public/img/stats/download.jpg');
  background-size: cover;
  background-attachment: fixed;
}



.bradcamp-keyboard {
  background-image: linear-gradient(rgba(0, 0, 0, 0.887), rgba(0, 0, 0, 0.828)), url('../public/img/keyboard.jpg');
  background-size: cover;
}


html {
  scroll-behavior: smooth;
}



/* .sub_link{
  background-color: #F15A29;
  transform: scale(0);
}


.sub_link:hover{
  transform: scale(1);
} */


.sub_main div{
  /* transform:  ; */
  transform: rotateX(90deg);
  transition: all .2s;
  visibility: hidden;
}
.sub_main:hover> div{
  /* transition: all .3s; */
  transform: rotateX(0deg);
  transition: all .3s;
  background-color: #F15A29;
  visibility: visible;
}